*{
    box-sizing: border-box;
}

.box-cont label {
    cursor: pointer;
    display: flex;
}

.box-cont input[type="checkbox"] {
    cursor: pointer;
    opacity: 0.5;
    position: absolute;
    display: none;
}

.box-cont label::before {
    content: "";
    width: 1em;
    height: 1em;
    border: 0.05em solid black;
    margin-right: 0.5em;
}

.box-cont label:hover::before {
    background-color: rgb(10, 212, 10);
}

.box-cont input[type="checkbox"]:checked + label::before {
    background-color: green;
    content: "✔";
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.box-cont input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 20px black;
}